@{
    ViewData["Title"] = "About Page";
}
@model GuestMessage

<div class="text-center">
    <h1 class="display-4">Ошибка обработки сообщения</h1>
    <p>@Model.Fio Предостаыленные Вами данные не корректны. Попробуйте снова.</p>
</div>
