@{
    ViewData["Title"] = "Thanks Page";
}
@model GuestMessage

<div class="text-center">
    <h1 class="display-4">Спасибо, @Model.Fio Ваше заявка обрабатывается.</h1>
    <p>Наши менеджеры свяжутся с Вами в ближайшее время</p>
</div>
